<div class="container-fluid">

    <div class="row">
        <p-card header="Certification Authorities" [style]="{'width': '25rem', 'margin-bottom': '2em'}" class="m-5">
            <ng-template pTemplate="header">
                <img src="/assets/hyperledger_fabric_logo_color.png">
            </ng-template>
            <p>Certification Authority: {{certAuth}}</p>
            <p>Certification Name: {{certAuthName}}</p>
            <p>Certification Url: {{certAuthUrl}}</p>
        </p-card>

        <p-card header="Organization details" [style]="{'width': '25rem', 'margin-bottom': '2em'}" class="m-5">
            <ng-template pTemplate="header">
                <img src="/assets/logo2.jpg">
            </ng-template>
            <p>Organization: {{organization}}</p>
            <p>Organization MSIPD: {{orgMsipd}}</p>
            <p>Organization Peers Name: {{orgPeersName}}</p>
            <p>Organization Peers URL: {{orgPeersUrl}}</p>
        </p-card>

        <p-card header="Connection details" [style]="{'width': '30rem', 'margin-bottom': '2em'}" class="m-5">
            <ng-template pTemplate="header">
                <img src="/assets/hllogo_blog.png">
            </ng-template>
            <p>Connection name: {{walletName}}</p>
            <p>Version: {{version}}</p>
        </p-card>

    </div>


</div>