<mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading" style="position: fixed;"></mat-progress-bar>

<div class="mat-elevation-z8 asset-card ">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="assetId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.assetId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="assetType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset Type</th>
      <td mat-cell *matCellDef="let row">{{row.assetType}}</td>
    </ng-container>

    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
      <td mat-cell *matCellDef="let row">{{row.manufacturer}}</td>
    </ng-container>


    <ng-container matColumnDef="ownerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Name</th>
      <td mat-cell *matCellDef="let row">{{row.ownerName}}</td>
    </ng-container>

    <ng-container matColumnDef="previousOwnerType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Previous Owner Type</th>
      <td mat-cell *matCellDef="let row">{{row.previousOwnerType}}</td>
    </ng-container>

    <ng-container matColumnDef="currentOwnerType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Owner Type</th>
      <td mat-cell *matCellDef="let row">{{row.currentOwnerType}}</td>
    </ng-container>

    <ng-container matColumnDef="createDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Date Time</th>
      <td mat-cell *matCellDef="let row">{{row.createDateTime}}</td>
    </ng-container>

    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</th>
      <td mat-cell *matCellDef="let row">{{row.lastUpdated}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[10, 20, 50, 250]">
  </mat-paginator>
</div>