<mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading" style="position: fixed"></mat-progress-bar>
<form [formGroup]="assetForm" novalidate (ngSubmit)="onSubmitBottle()" *ngIf="currentAssetType=='BOTTLE'">
    <mat-card class="asset-card">
        <mat-card-header>
            <mat-card-title>Asset Information</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <input matInput placeholder="Asset ID (only suffix)" formControlName="assetId" required maxlength="3" matTooltip="Id must be between 000-999, only numeric" />
                    </mat-form-field>
                    <mat-error *ngIf="
              assetForm.controls['assetId'].touched &&
              assetForm.controls['assetId'].status === 'INVALID'
            ">
                        Asset ID is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Asset Type</mat-label>
                        <mat-select formControlName="assetType" (selectionChange)="onChange($event)" required [(ngModel)]="currentAssetType">
                            <mat-option *ngFor="let type of assetTypes" [value]="type.value">
                                {{ type.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
              assetForm.controls['assetType'].touched &&
              assetForm.controls['assetType'].status === 'INVALID'
            ">
                        Asset type is <strong>required</strong>
                    </mat-error>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Manufacturer" formControlName="manufacturer" required />
                    </mat-form-field>
                    <mat-error *ngIf="
              assetForm.controls['manufacturer'].touched &&
              assetForm.controls['manufacturer'].status === 'INVALID'
            ">
                        Manufacturer is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Owner Name" formControlName="ownerName" required />
                    </mat-form-field>
                    <mat-error *ngIf="
              assetForm.controls['ownerName'].touched &&
              assetForm.controls['ownerName'].status === 'INVALID'
            ">
                        Owner Name is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Animal ID (only suffix)" formControlName="animalId" required maxlength="3" matTooltip="Id must be between 000-999, only numeric" />
                    </mat-form-field>
                    <mat-error *ngIf="
              assetForm.controls['animalId'].touched &&
              assetForm.controls['animalId'].status === 'INVALID'
            ">
                        Cow ID is <strong>required</strong>
                    </mat-error>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>

<form [formGroup]="animalAssetForm" novalidate (ngSubmit)="onSubmitAnimal()" *ngIf="currentAssetType=='ANIMAL'">
    <mat-card class="asset-card">
        <mat-card-header>
            <mat-card-title>Asset Information</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <input matInput placeholder="Animal ID (only suffix)" formControlName="animalId" required maxlength="3" matTooltip="Id must be between 000-999, only numeric" />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['animalId'].touched &&
                    animalAssetForm.controls['animalId'].status === 'INVALID'
            ">
                        Asset ID is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Asset Type</mat-label>
                        <mat-select formControlName="assetType" required (selectionChange)="onChange($event)" [(ngModel)]="currentAssetType">
                            <mat-option *ngFor="let type of assetTypes" [value]="type.value">
                                {{ type.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['assetType'].touched &&
                    animalAssetForm.controls['assetType'].status === 'INVALID'
            ">
                        Asset type is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <input matInput placeholder="Animal Category" formControlName="animalCategory" required maxlength="3" matTooltip="Id must be between 000-999, only numeric" />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['animalCategory'].touched &&
                    animalAssetForm.controls['animalCategory'].status === 'INVALID'
            ">
                        Animal Category is <strong>required</strong>
                    </mat-error>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Race" formControlName="race" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['race'].touched &&
                    animalAssetForm.controls['race'].status === 'INVALID'
            ">
                        Manufacturer is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input type="number" matInput placeholder="Age(years)" formControlName="age" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['age'].touched &&
                    animalAssetForm.controls['age'].status === 'INVALID'
            ">
                        Age is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Food" formControlName="food" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['food'].touched &&
                    animalAssetForm.controls['food'].status === 'INVALID'
            ">
                        Food is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Weight" formControlName="weight" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['weight'].touched &&
                    animalAssetForm.controls['weight'].status === 'INVALID'
            ">
                        Weight is <strong>required</strong>
                    </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Farm ID (only suffix)" formControlName="farmId" required maxlength="3" matTooltip="Id must be between 000-999, only numeric" />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['farmId'].touched &&
                    animalAssetForm.controls['farmId'].status === 'INVALID'
            ">
                        Farm ID is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Gross Energy Consumption" formControlName="grossEnergyConsumption" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['grossEnergyConsumption'].touched &&
                    animalAssetForm.controls['grossEnergyConsumption'].status === 'INVALID'
            ">
                        Gross Energy Consumption is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Food Digestibility" formControlName="foodDigestibility" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['foodDigestibility'].touched &&
                    animalAssetForm.controls['foodDigestibility'].status === 'INVALID'
            ">
                        Food Digestibility is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Urinary Energy" formControlName="urinaryEnergy" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['urinaryEnergy'].touched &&
                    animalAssetForm.controls['urinaryEnergy'].status === 'INVALID'
            ">
                        Urinary Energy is <strong>required</strong>
                    </mat-error>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Treated Stable Trash Factor" formControlName="treatedStableTrashFactor" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['treatedStableTrashFactor'].touched &&
                    animalAssetForm.controls['treatedStableTrashFactor'].status === 'INVALID'
            ">
                        Treated Stable Trash Factor is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Annual NitrogenOxides Excretion Factor" formControlName="annualNitrogenOxidesExcretionFactor" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['annualNitrogenOxidesExcretionFactor'].touched &&
                    animalAssetForm.controls['annualNitrogenOxidesExcretionFactor'].status === 'INVALID'
            ">
                        Annual NitrogenOxides Excretion Factor is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Trash Management System" formControlName="trashManagementSystem" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['trashManagementSystem'].touched &&
                    animalAssetForm.controls['trashManagementSystem'].status === 'INVALID'
            ">
                        Trash Management System is <strong>required</strong>
                    </mat-error>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Gas Factor MS" formControlName="gasFactorMS" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    animalAssetForm.controls['gasFactorMS'].touched &&
                    animalAssetForm.controls['gasFactorMS'].status === 'INVALID'
            ">
                        GasFactorMS is <strong>required</strong>
                    </mat-error>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>

<form [formGroup]="farmAssetForm" novalidate (ngSubmit)="onSubmitFarm()" *ngIf="currentAssetType=='FARM'">
    <mat-card class="asset-card">
        <mat-card-header>
            <mat-card-title>Asset Information</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <input matInput placeholder="Farm ID (only suffix)" formControlName="farmId" required maxlength="3" matTooltip="Id must be between 000-999, only numeric" />
                    </mat-form-field>
                    <mat-error *ngIf="
                    farmAssetForm.controls['farmId'].touched &&
                    farmAssetForm.controls['farmId'].status === 'INVALID'
            ">
                        Farm ID is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Asset Type</mat-label>
                        <mat-select formControlName="assetType" (selectionChange)="onChange($event)" [(ngModel)]="currentAssetType" required>
                            <mat-option *ngFor="let type of assetTypes" [value]="type.value">
                                {{ type.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                    farmAssetForm.controls['assetType'].touched &&
                    farmAssetForm.controls['assetType'].status === 'INVALID'
            ">
                        Asset type is <strong>required</strong>
                    </mat-error>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name" formControlName="name" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    farmAssetForm.controls['name'].touched &&
                    farmAssetForm.controls['name'].status === 'INVALID'
            ">
                        Name is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Owner Name" formControlName="owner" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    farmAssetForm.controls['owner'].touched &&
                    farmAssetForm.controls['owner'].status === 'INVALID'
            ">
                        Owner Name is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Country" formControlName="country" required />
                    </mat-form-field>
                    <mat-error *ngIf="
                    farmAssetForm.controls['country'].touched &&
                    farmAssetForm.controls['country'].status === 'INVALID'
            ">
                        Country is <strong>required</strong>
                    </mat-error>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>